body{
    background-color: #306754;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:link {
    color: #99C68E;
  }

h1{
	padding: 10px;	
    color: thistle;
	font-size: 3rem;
	font-style: normal;
	font-variant: normal;
	font-weight: bolder;
}